<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648872628468-2ol5tjkaaavmuap6acbpetk3k6h8ddnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648872628468-2ol5tjkaaavmuap6acbpetk3k6h8ddnk</string>
	<key>API_KEY</key>
	<string>AIzaSyBuLTy2iivsixZvV7068N13RxHzhMIOLM8</string>
	<key>GCM_SENDER_ID</key>
	<string>648872628468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenaebner.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-688e3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-688e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648872628468:ios:c7aa0192368b34f297cea1</string>
</dict>
</plist>